.about {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/images/about1.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_discription {
  border-left: 2px solid yellow;
  border-right: 2px solid yellow;
  max-width: 1100px;
  display: grid;
  grid-template-columns: minmax(350px, 1fr);
}

.about_discription h1 {
  color: yellow;
  font-size: 3.5rem;
  margin-left: 20px;
  text-decoration: underline;
  letter-spacing: 0.5rem;
}

.about_discription p {
  padding: 20px;
  color: #fff;
  text-align: justify;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: 500;
}

.about_button {
  position: absolute;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  right: 0;
}
