.exploreCard {
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 5px;
  background-color: white;
  border: 2px solid white;
  grid-template-rows: 200px auto;
}

.exploreCard:hover {
  box-shadow: 5px 5px 10px #888888;
}

.card-1 {
  grid-column: span 2;
  grid-row: 1/2;
}

.card-2 {
  grid-row: 1/3;
}

.card-3 {
  grid-column: 1/2;
  grid-row: 2/4;
}

.card-4 {
  grid-column: 2/3;
  grid-row: 2/4;
}

.card-5 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.exploreCard_top {
  clip-path: polygon(100% 0, 100% 79%, 72% 100%, 0 100%, 0 0);
  overflow: hidden;
}

.exploreCard_top:hover .exploreCard_img {
  transform: scale(1.3);
}

.exploreCard_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.ExploreCard_discription .exploreCard_discription-top h1 {
  letter-spacing: 2px;
  margin: 10px 0;
  font-weight: 700;
  /* padding: 0 10px; */
  text-align: left;
}

.exploreCard_discription-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  margin-top: 10px;
}

.ExploreCard_discription p {
  letter-spacing: 1px;
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0 10px;
  text-align: left;
}

.explore-btn {
  color: #000;
  font-weight: 900;
  border: 2px solid black;
}

.explore-btn:hover {
  background-color: yellow;
}
