.exploreCard {
  width: 100%;
  height: 100%;
  display: grid;
}

.exploreCard_top {
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 62% 77%, 86% 100%, 0 100%, 0 0);
}

.exploreCard_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ExploreCard_discription h1 {
  letter-spacing: 2px;
  margin: 10px 0;
  font-weight: 700;
  padding: 0 10px;
  text-align: left;
}

.ExploreCard_discription p {
  letter-spacing: 1px;
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0 10px;
  text-align: left;
}

.explore-btn {
  margin-left: 10px;
  margin-bottom: 10px;
}
