.hero {
  height: 100vh;
  position: relative;
}

.hero_logo {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 30px;
  margin-left: 30px;
  width: 30%;
  z-index: 3;
}

.hero_logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.hero_video {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero_video::before {
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3)
  );
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

.hero_discrption {
  text-align: center;
  width: 80%;
  height: 50vh;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discription {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
}

.discription_top p {
  font-size: 4rem;
  letter-spacing: 10px;
  text-shadow: 1px 1px 10px black;
}

.discription_top p span {
  font-weight: 900;
  color: yellow;
}

.discription_bottom p {
  font-size: 3rem;
  font-weight: 600;
  color: yellow;
  letter-spacing: 8px;
  text-shadow: 1px 1px 10px black;
}
